* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    min-height: 100vh;
    font-family: 'Kumbh Sans', sans-serif;
    display: flex;
    align-items: center;
    font-family: Figtree, sans-serif;
    background-color: hsl(47, 88%, 63%);
}
.container {
    margin: 0 auto;
    padding: 15px;
    line-height: 1.5;
}
.wrapper {
    padding: 15px;
    max-width: 320px;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 10px 10px 0px hsl(0, 0%, 7%);
    border-radius: 10px;
    overflow: hidden;
}
.illustration-article {
    width: 100%;
    border-radius: inherit;
}
main {
    margin: 10px 0 15px;
}
p {
    font-size: 12px;
    font-weight: 600;
}
.wrapper p:nth-child(1) {
    width: fit-content;
    margin-bottom: 10px;
    padding: 2px 10px;
    font-weight: 800;
    background-color: hsl(47, 88%, 63%);
    color: hsl(0, 0, 7%);
}
.wrapper p:nth-child(2) {
    color: hsl(0, 0, 7%);
}
main h4 {
    font-weight: 800;
    margin: 10px 0;
    width: fit-content;
    transition: 0.3s;
}
main h4:hover {
    color: hsl(47, 88%, 63%);
    cursor: pointer;
}
main div p {
    color: hsl(0, 0%, 50%);
    margin-bottom: 10px;
}
footer {
    display: flex;
    align-items: center;
}
footer img {
    height: 25px;
    margin-right: 10px;
}